@import url('https://fonts.googleapis.com/css2?family=Kantumruy+Pro:ital,wght@0,100..700;1,100..700&family=Nata+Sans:wght@100..900&family=Oranienbaum&display=swap');

:root {
    --primary-color: #faacc4;
    --secondary-color: #fefefe;
    --accent-color: #21201e;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: "Nata Sans", sans-serif;
    scroll-behavior: smooth;
}

body {
    background-color: var(--primary-color);
    color: var(--accent-color);
    overflow-x: hidden;
    min-height: 100dvh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: minmax(0 1fr);
}

.navbar {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--secondary-color);
    padding: 20px 125px;
    color: var(--accent-color);
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
    font-family: "Oranienbaum", serif;
    font-size: 1.5em;
    font-weight: bold;
    cursor: default;
    transition: 0.2s;
}

.logo:hover {
    scale: 1.05;
}

.hamburger {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 25px;
    height: 20px;
    cursor: pointer;
    z-index: 1100;
}

.hamburger span {
    display: block;
    height: 3px;
    width: 100%;
    background-color: var(--accent-color);
    border-radius: 2px;
    transition: all 0.2s ease;
}

.hamburger.active span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.active span:nth-child(2) {
    opacity: 0;
}

.hamburger.active span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links li a {
    color: var(--accent-color);
    text-decoration: none;
    transition: 0.2s;
    text-transform: uppercase;
    font-weight: bold;
}

.nav-links li a:hover {
    color: var(--primary-color);
}

.countdown {
    background-color: var(--secondary-color);
    text-align: center;
    padding: 20px 0;
    cursor: default;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.timer-label {
    font-family: 'Oranienbaum', serif;
}

#timer {
    background-color: var(--accent-color);
    width: fit-content;
    color: var(--secondary-color);
    padding: 10px;
    border-radius: 10px;
    margin: 10px auto;
}

.banner {
    width: 100%;
    padding: 20px 0;
}

.banner img {
    width: 100%;
    height: auto;
    display: block;
}

.photos-ig {
    padding: 0 125px;
}

.photos-ig h1 {
    font-family: "Oranienbaum", serif;
    text-transform: uppercase;
    margin: 0 0 20px 0;
}

.card-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card {
    width: 400px;
    margin-bottom: 20px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.card-content {
    padding: 20px;
    background-color: var(--secondary-color);
}

.card-content p {
    line-height: 1.3;
}

.card-content .ig-link,
.card-content .download-photo {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    background-color: var(--accent-color);
    color: var(--secondary-color);
    border-radius: 10px;
    margin-top: 10px;
    transition: 0.2s;
}

.card-content .ig-link:hover,
.card-content .download-photo:hover {
    background-color: var(--primary-color);
    color: var(--accent-color);
}

.card img {
    width: 100%;
    height: auto;
    transition: 0.2s;
    cursor: pointer;
}

.card img:hover {
    opacity: 0.7;
}

.view-more {
    text-decoration: none;
    color: var(--secondary-color);
    transition: .2s;
}

.view-more p {
    text-align: center;
    margin: 0 auto 20px auto;
    background-color: var(--accent-color);
    border-radius: 10px;
    padding: 10px;
    width: fit-content;
    transition: .2s;
}


.view-more p:hover {
    background-color: var(--secondary-color);
    color: var(--accent-color);
}

.lightbox {
    display: none;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.9);
    justify-content: center;
    align-items: center;
}

.lightbox-img {
    max-width: 90%;
    max-height: 90%;
    border-radius: 10px;
}

@keyframes fadeZoomIn {
    0% {
        opacity: 0;
        transform: scale(0.8);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes fadeZoomOut {
    0% {
        opacity: 1;
        transform: scale(1);
    }

    100% {
        opacity: 0;
        transform: scale(0.8);
    }
}

.fade-in {
    animation: fadeZoomIn 0.2s ease forwards;
}

.fade-out {
    animation: fadeZoomOut 0.2s ease forwards;
}

footer {
    background-color: var(--secondary-color);
    color: var(--accent-color);
    padding: 20px 125px;
    display: flex;
    justify-content: space-between;
}

.about {
    text-align: left;
}

.footer-logo {
    width: 100px;
    cursor: default;
    transition: .2s;
}

.footer-logo:hover {
    scale: 1.05;
}

.about h1 {
    font-family: "Oranienbaum", serif;
    cursor: default;
    transition: .2s;
}

.about h1:hover {
    scale: 1.05;
}

.socials {
    text-align: right;
}

.socials h1 {
    font-family: "Oranienbaum", serif;
    text-transform: uppercase;
}

.socials a {
    text-decoration: none;
    color: var(--accent-color);
    transition: .2s;
}

.socials i {
    font-size: 40px;
    margin: 20px 0;
    transition: .2s;
}

.socials i:hover {
    color: var(--primary-color);
}

.version {
    margin-top: 20px;
    border-top: 1px solid var(--accent-color);
    padding: 10px 0;
}

.report:hover {
    text-decoration: underline;
}

.page {
    padding: 20px 125px;
}

.page-title {
    font-family: "Oranienbaum", serif;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.card-container_photo-page {
    padding: 0 125px;
}

.coming-soon {
    text-align: center;
    height: 30vh;
    cursor: default;
    transition: .2s;
}

.coming-soon h1 {
    font-size: 50px;
    transition: .2s;
}

.coming-soon h1:hover {
    scale: 1.05;
}

@media (max-width: 768px) {
    .navbar {
        padding: 20px;
    }

    .logo {
        font-size: 1.2em;
    }

    .hamburger {
        display: flex;
    }

    .nav-links {
        position: absolute;
        top: 100%;
        right: 0;
        background-color: var(--secondary-color);
        flex-direction: column;
        width: 180px;
        padding: 20px;
        margin: 0;
        opacity: 0;
        transform: translateY(-10px);
        transition: opacity 0.2s ease, transform 0.2s ease;
        pointer-events: none;
    }

    .nav-links.active {
        opacity: 1;
        transform: translateY(0);
        pointer-events: auto;
    }

    .nav-links li {
        margin-bottom: 10px;
    }

    .timer-label {
        font-size: 0.9em;
    }

    #timer {
        font-size: 0.9em;
    }

    .photos-ig {
        padding: 0 20px;
    }

    .photos-ig h1 {
        font-size: 1.5em;
        text-align: center;
    }

    .card {
        width: 100%;
    }

    .card-content h3 {
        font-size: 1.2em;
    }

    .card-content p {
        font-size: 0.9em;
    }

    .ig-link,
    .download-photo {
        font-size: 0.9em;
    }

    .view-more p {
        font-size: 0.9em;
    }

    footer {
        padding: 20px;
        flex-direction: column;
    }

    .about,
    .socials {
        text-align: center;
    }

    .about {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .footer-logo {
        width: 75px;
    }

    .about h1 {
        font-size: 1.2em;
    }

    .socials h1 {
        font-size: 1.2em;
    }

    .socials i {
        font-size: 30px;
    }

    .copyright {
        font-size: 0.9em;
    }

    .version {
        font-size: 0.9em;
    }

    .report {
        font-size: 0.9em;
    }

    .page {
        padding: 20px;
        text-align: center;
    }

    .card-container_photo-page {
        padding: 0 20px;
    }

    .coming-soon h1 {
        font-size: 30px;
    }
}

@media (min-width: 1024px) and (max-width: 1439px) {
    .navbar {
        padding: 20px 50px;
    }

    .photos-ig {
        padding: 0 50px;
    }

    .card-container_photo-page {
        padding: 0 50px;
    }

    footer {
        padding: 20px 50px;
    }

    .page {
        padding: 20px 50px;
    }
}

/* @media (min-width: 1440px) and (max-width: 1919px) {
    .navbar {
        padding: 20px 100px;
    }

    .photos-ig {
        padding: 0 100px;
    }

    .card-container_photo-page {
        padding: 0 100px;
    }

    footer {
        padding: 20px 100px;
    }

    .page {
        padding: 20px 100px;
    }
} */