@import url("https://fonts.googleapis.com/css2?family=Nata+Sans:wght@100..900&display=swap");

:root {
    --primary-color: #faacc4;
    --secondary-color: #fefefe;
    --accent-color: #21201e;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: "Nata Sans", sans-serif;
    scroll-behavior: smooth;
}

body {
    background-color: var(--primary-color);
    color: var(--accent-color);
    overflow-x: hidden;
    min-height: 100dvh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: minmax(0 1fr);
}

.navbar {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--secondary-color);
    padding: 20px 200px;
    color: var(--accent-color);
    z-index: 1000;
}

.logo {
    font-size: 1.5em;
    font-weight: bold;
}

.hamburger {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 25px;
    height: 20px;
    cursor: pointer;
    z-index: 1100;
}

.hamburger span {
    display: block;
    height: 3px;
    width: 100%;
    background-color: var(--accent-color);
    border-radius: 2px;
    transition: all 0.2s ease;
}

.hamburger.active span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.active span:nth-child(2) {
    opacity: 0;
}

.hamburger.active span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links li a {
    color: var(--accent-color);
    text-decoration: none;
    transition: color 0.2s;
    text-transform: uppercase;
}

.nav-links li a:hover {
    color: var(--primary-color);
}

.slideshow {
    position: relative;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.slide.active {
    opacity: 1;
}

.card-section {
    padding: 40px 200px;
}

.card-section h1 {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}

.card-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card {
    width: 400px;
    margin-top: 20px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.card-content {
    padding: 20px;
    background-color: var(--secondary-color);
}

.card-content p {
    line-height: 1.3;
}

.card-content .ig-link,
.card-content .download-photo {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    background-color: var(--accent-color);
    color: var(--secondary-color);
    border-radius: 5px;
    margin-top: 10px;
    transition: 0.2s;
}

.card-content .ig-link:hover,
.card-content .download-photo:hover {
    background-color: var(--primary-color);
    color: var(--accent-color);
}

.card img {
    width: 100%;
    height: auto;
    transition: 0.2s;
    cursor: pointer;
}

.card img:hover {
    opacity: 0.7;
}

.card-content i {
    font-size: 24px;
    cursor: pointer;
}

.lightbox {
    display: none;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    /* background: rgba(0, 0, 0, 0.9); */
    background-color: var(--accent-color);
    justify-content: center;
    align-items: center;
}

.lightbox-img {
    max-width: 90%;
    max-height: 90%;
    border-radius: 10px;
}

.close {
    position: absolute;
    top: 30px;
    right: 40px;
    font-size: 40px;
    color: white;
    cursor: pointer;
}

@keyframes fadeZoomIn {
    0% {
        opacity: 0;
        transform: scale(0.8);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes fadeZoomOut {
    0% {
        opacity: 1;
        transform: scale(1);
    }

    100% {
        opacity: 0;
        transform: scale(0.8);
    }
}

.fade-in {
    animation: fadeZoomIn 0.4s ease forwards;
}

.fade-out {
    animation: fadeZoomOut 0.3s ease forwards;
}

.view-all {
    width: fit-content;
    text-decoration: none;
    color: var(--accent-color);
    transition: 0.2s;
}

.view-all p {
    margin-top: 20px;
    text-align: right;
}

.view-all:hover {
    opacity: 0.5;
}

.download-container {
    padding: 40px 200px;
    overflow: hidden;
    width: 100%;
    background-color: var(--secondary-color);
    color: var(--accent-color);
}

.download-container h1 {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    padding-bottom: 20px;
}

.download {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.download a {
    text-decoration: none;
    color: var(--secondary-color);
    background-color: var(--accent-color);
    padding: 20px;
    border-radius: 10px;
    width: 30%;
    transition: 0.2s;
}

.download a:hover {
    background-color: var(--primary-color);
    color: var(--accent-color);
}

footer {
    background-color: var(--accent-color);
    color: var(--secondary-color);
    padding: 40px 200px;
    text-align: center;
}

footer img {
    width: 100px;
}

.social {
    font-size: 40px;
    padding-bottom: 20px;
}

.social a {
    text-decoration: none;
    color: var(--secondary-color);
    transition: 0.2s;
}

.social a:hover {
    opacity: 0.5;
}

.b2-photos {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}

.photo img {
    width: 100%;
}

.buttons a {
    text-decoration: none;
    color: var(--accent-color);
}

.buttons i {
    background-color: var(--secondary-color);
    font-size: 40px;
    cursor: pointer;
    padding: 20px;
    width: 100%;
    transition: 0.2s;
}

.buttons i:hover {
    background-color: var(--accent-color);
    color: var(--secondary-color);
}

.copyright {
    padding-bottom: 20px;
}

.report {
    border-top: var(--secondary-color) 1px solid;
    padding: 20px 0 0 0;
}

.report a {
    color: var(--secondary-color);
    text-decoration: underline;
}

@media (min-width: 320px) and (max-width: 767px) {

    .slideshow {
        height: 30vh;
    }

    .slide {
        width: 100%;
        height: fit-content;
    }

    .card-section h1,
    .download-container h1 {
        font-size: 1.5em;
    }

    .download-container {
        padding: 20px 20px;
    }

    .download {
        flex-direction: column;
    }

    .download a {
        width: 100%;
        margin-bottom: 20px;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .navbar {
        padding: 20px 20px;
    }

    .nav-links {
        position: absolute;
        top: 100%;
        right: 0;
        background-color: var(--secondary-color);
        flex-direction: column;
        width: 180px;
        padding: 20px;
        margin: 0;
        opacity: 0;
        transform: translateY(-10px);
        transition: opacity 0.2s ease, transform 0.2s ease;
        pointer-events: none;
    }

    .nav-links.active {
        opacity: 1;
        transform: translateY(0);
        pointer-events: auto;
    }

    .hamburger {
        display: flex;
    }

    .nav-links li {
        margin: 10px 0;
    }

    .slideshow {
        height: 50vh;
    }

    .card-section {
        padding: 20px 20px;
    }

    .card {
        width: 100%;
    }

    .download-container {
        padding: 20px 20px;
    }

    footer {
        padding: 20px 20px;
    }
}

@media (min-width: 1024px) and (max-width: 1439px) {
    .navbar {
        padding: 20px 50px;
    }

    .card-section {
        padding: 40px 50px;
    }

    .download-container {
        padding: 40px 50px;
    }

    footer {
        padding: 40px 50px;
    }
}

@media (min-width: 2560px) {
    .navbar {
        padding: 20px 400px;
    }

    .card-section {
        padding: 40px 400px;
    }

    .download-container {
        padding: 40px 400px;
    }

    footer {
        padding: 40px 400px;
    }
}

@media (min-width: 1440px) and (max-width: 2559px) {
    .navbar {
        padding: 20px 100px;
    }

    .card-section {
        padding: 40px 100px;
    }

    .download-container {
        padding: 40px 100px;
    }

    footer {
        padding: 40px 100px;
    }
}